/**
 * loading页面样式
*/
body{
  background: #000;
}
/* 1、canvas画布 */ 
.canvas{
  margin: 0 auto;
  display: block;
  /* background: #131c35 linear-gradient(#192853,#131c35); */
}

.canvas img{
  display: block;
  margin: 0px 1px 0px 0px;
}

/* 2、点击进入按钮 */
.btn{
  position: absolute;
  left: 0px;
  bottom: 30%;
  display: block;
  width: 100%;
  text-align: center;
}
.btn a{
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-family: cursive;
  text-decoration: none;
}
